.container {
  width: 500px;
  height: 520px;
}

p {
  width: 300px;
  color: white;
  padding: 3px;
} 

span {
  width: 100px;
  height: 30px;
  background-color: darkblue;
  color: white;
  padding: 3px;
}